<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

 <p class="intro">
    Splurty was built by <a target="_blank" href="http://github.com/msarit">Arit</a>, a budding software engineer who is passionate about becoming yet another example of the incredible things that happen <strong><em>when women code</em></strong>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-3">
      <%= image_tag '1face.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-8 offset-sm-1">
      <h2 class="text-center">Arit Amana</h2>
      <br />
      <p>

        Arit Amana is a web developer with a strong background in systems administration. Professionally, she provides innovative and reliable IT support to various government organizations and private companies. In keeping with her indefatigable inner-hustle, Arit also runs <a target="_blank" href="https://thebreisagency.com">The BREIS Agency</a> - a business that builds and supports websites &amp; web-based applications for individuals, small-businesses and nonprofit organizations.

      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />