<div class="col-10 offset-1 about">
  <h2 class="text-center">About "T.S.I.T.B.J"</h2>

  <br /><br />

  <div class="row">
    <div class="col-12 col-md-3">
      <%= image_tag '1face.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-md-8 offset-md-1">
      <p class="intro">
        "T.S.I.T.B.J" was built by <a target="_blank" href="http://github.com/msarit/splurtyarit">Arit</a>, a software engineer who is passionate about becoming yet another example of the incredible things that happen <strong><em>when women code</em></strong>.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />