@font-face {
    font-family: 'sinkin_sans300_light';
    src: font_url('sinkinsans-300light-webfont.woff2') format('woff2'),
         font_url('sinkinsans-300light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sinkin_sans300_light_italic';
    src: font_url('sinkinsans-300lightitalic-webfont.woff2') format('woff2'),
         font_url('sinkinsans-300lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'sinkin_sans400_italic';
    src: font_url('sinkinsans-400italic-webfont.woff2') format('woff2'),
         font_url('sinkinsans-400italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sinkin_sans400_regular';
    src: font_url('sinkinsans-400regular-webfont.woff2') format('woff2'),
         font_url('sinkinsans-400regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: font_url('sinkinsans-600semibold-webfont.woff2') format('woff2'),
         font_url('sinkinsans-600semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sinkin_sans600SBdIt';
    src: font_url('sinkinsans-600semibolditali-webfont.woff2') format('woff2'),
         font_url('sinkinsans-600semibolditali-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}